{% extends "base.html" %}
{% block start %}
    {% comment %} {{blog.content |safe}} {% endcomment %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-4">
            <div class="card  shadow-lg" style="width: 18rem;">
                <img src="https://images.pexels.com/photos/159866/books-book-pages-read-literature-159866.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>

            </div>
        </div>
    </div>
</div>

{% endblock %}