{% extends "base.html" %}
{% block start %}
    {% comment %} {{blog.content | safe}} {% endcomment %}
<div class="container mt-5">
    
    <div class="row">
        {% for blog in blogs %}
        <div class="col-md-4">
            <div class="card  shadow-lg" style="width: 18rem;">
                <img src="/media/{{blog.banner_image}}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">{{blog.title}}</h5>
                  <p class="card-text">{{blog.content |safe |truncatechars:10}}.</p>
                  <a href='{% url "get_blog" blog.id %}' class="btn btn-primary">Read Blog</a>
                </div>
              </div>
            
        </div>
        {% endfor %}
    </div>
    
</div>

{% endblock %}